<div class="row">

  <div class="medium-12 large-12 columns">
    <h1>Main Dishes</h1>
    <p class="subheader">Are you looking for some inspirations for dinner? These quick and easy dishes will just fit the bill. Sometimes people think that Chinese cooking is difficult, but it is absolutely not the case for home cooking! Plus they are delicious.</p>
  </div>
 </div>

 <div class="row column">
  <hr>
</div>

<div class="row column">
  <p class="lead">Recipes</p>
</div>

<div class="row small-up-1 medium-up-2 large-up-3">
	<% @recipes.each do |recipe| %>
		<%= link_to recipe_path(recipe) do %>
			  <div class="column">
			    <div class="callout">
			      <p>Main Dish</p>
			      <p><%= image_tag recipe.photo.image.url if recipe.photo.present? %></p>
			      <p class="lead"><%= recipe.title %></p>
			      <p class="subheader"><%= recipe.keyword_list %></p>
			    </div>
			  </div>
		 <% end %>
	<% end %>
</div>

<div class="row column">
  <a class="button hollow expanded">Load More</a>
</div>