<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-offers"><%= link_to "Offers", casein_offers_path %></li>
<li id="tab-ads"><%= link_to "Ads", casein_ads_path %></li>
<li id="tab-recipes"><%= link_to "Recipes", casein_recipes_path %></li>
<li id="tab-photos"><%= link_to "Photos", casein_photos_path %></li>