
  /*icon styles*/
  .fi-social-facebook {
    color: dodgerblue;
    font-size: 2rem;
  }
  .fi-social-youtube {
    color: red;
    font-size: 2rem;
  }
  .fi-social-pinterest {
    color: darkred;
    font-size: 2rem;
  }
  i.fi-social-instagram {
    color: brown;
    font-size: 2rem;
  }
  i.fi-social-tumblr {
    color: navy;
    font-size: 2rem;
  }
  .fi-social-twitter {
    color: skyblue;
    font-size: 2rem;
  }

  .hdr-row {
    margin: auto 0;
  }

  ins {
    margin: auto;
  }

  .social-share-button {
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
  }

  .ads {
    text-align: center;
    margin: auto;
  }

  #offer-callout {
    margin-bottom: 0px;
  }

  .grey-out {
    background-color: grey;
  }